body {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: #266F26;
    background: #DEB887;
}


h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:50px;
    font-weight: 300;
}

#NavMenu {
    float: left;
    width: 15%;
    padding: 5px;
    background-color: #266F26;
    font-weight:bold;
}


 

#welcome 
{
    float:right;
}

#mainDiv 
{
    float: right;
    width: 82%;
    padding: 10px;
}


.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    
 
}

.button {
    padding: 15px 30px;
    border: none;
    font-size: 1em;
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    background: #266F26;
    text-align:center;
}

 .button:hover 
 {
        background: #00DE00;
 }

.addbutton {
    padding: 5px,5px;
    border: none;
    font-size: 1em;
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    background: #266F26;
    text-align: center;
}

.addbutton:hover {
    background: #00DE00;
    
}

.link {
    color: #DEB887;
    text-decoration: none;
}

    .link:hover {
        cursor: grabbing;
    }

    .link:visited {
        color: #A0522D;
 }



