body {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: #266F26;
    background: #D5B77A;
    padding: 0px;
}


h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:50px;
    font-weight: 300;
}

#NavMenu {
    float: left;
    width: 15%;
    border-right: 1px solid #266F26;
    height: 100%;
    background-color: #859C27;
}

.link {
    text-decoration: none;
    color: #266F26;
    cursor: pointer;
}

 .link:hover
    {
        color: #32CD32;
    }
 

#welcome 
{
    float:right;
}

#mainDiv 
{
    float: right;
    width: 82%;
    padding: 10px;
}


.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    
 
}

.button {
    padding: 15px 30px;
    border: none;
    font-size: 1em;
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    background: #266F26;
    text-align:center;
}

 .button:hover 
 {
        background: #00DE00;
 }

.addbutton {
    padding: 5px,5px;
    border: none;
    font-size: 1em;
    text-decoration: none;
    font-weight: 300;
    color: #FFF;
    background: #266F26;
    text-align: center;
}

.addbutton:hover {
    background: #00DE00;
    
}

